body {
    background-color:darkolivegreen;
    text-align: center;

}
h1,h2 {
    text-align: center;
    margin-top: 0px;
}


.everything{
    width: 1000px;
    background-color:lightgreen;
    margin: auto;
}