

body {
    background-color:gray;
    text-align: center;

}
h1,h2 {
    text-align: center;
    margin-top: 0px;
    color: white;
}

pre {
    color: white;
}

br{
    color: white;
}

.everything{
    width: 1100px;
    background-color:black;
    margin: auto;
}

.vega-bindings{
    color: white;
}